.env
.env.supabase
.env.supabase.local
.DS_Store
node_modules/
__pycache__/
/.venv
/supabase/.temp
CLI-output.txt
sos_site_register*.csv
gov_uk_aurn_site_register*.csv
network_info/UK-Air-SOS/
*.numbers
network_info/LAQN/uk_aq_londonair_site_list_active.numbers
/archive/env files
network_info/OpenAQ/docs.openaq.org/
.dashboards.pids
workers/uk_aq_sensorcommunity_cloud_run/*.json
data/gpkg/OS/os_open_names_gpkg/Data/opname_gb.gpkg
plans/json_aurn_within_30m_all_matches.csv
plans/uk_aq_station_duplicate_candidates_rows.csv
plans/uk_aq_station_duplicate_candidates_stations.csv
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

.codeql/
/logs
system_docs.zip
*.env
workers/uk_aq_breathelondon_cloud_run.zip
workers/uk_aq_blondon_communities_cloud_run.zip
supabase/functions/ingest_breathelondon/index.ts.zip
*.bak
